@charset "utf-8";
body{
    background-image: url(../img/bg/23591705_m.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body::after{
    content: "";
    position: absolute;
    display: block;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.7;
}
#field{
    position: relative;
    z-index: 1;
}
#sutehai{
    margin: 0 auto;
    width: 1200px;
    min-width: 900px;
    background-color: #fff;
}
#tehai{
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 900px;
    width: 70%;
    height: 13%;
    display: flex;
    justify-content: center;
}
.tehai_item,.tehai_item img{
    width: 107%;
}
#tumo{
    margin-left: 3%;
}
